parameters:
	sqlite: null
	global:
		host: 127.0.0.1
		dbname: salamium_test

database:
	mysql:
		dsn: 'mysql:host=%global.host%;dbname=%global.dbname%'
		user:
		password:
		options:
			lazy: true
	postgres:
		dsn: 'pgsql:host=%global.host%;dbname=%global.dbname%'
		user:
		password:
		options:
			lazy: true
	sqlite:
		dsn: 'sqlite::memory:'
		user:
		password:
		options:
			lazy: true

extensions:
	databaseExtension: Salamium\Database\DI\DatabaseExtension

databaseExtension:
	entityMap:
		mysql:
			users: Salamium\Test\Entity\User
			countries: Salamium\Test\Entity\Country
			users_x_countries: null

services:
	databaseExtension.cacheAccessor:
		arguments: [Salamium\Test\MemoryStorage()]

	# Entity are loaded automaticaly

	# Mysql Repository
	- Salamium\Test\Repository\Users('users')
	- Salamium\Test\Repository\Countries('countries')
	- Salamium\Test\Repository\UsersXCountries('users_x_countries')

	# sqlite Repository
	menu:
		class: Salamium\Test\Repository\Menu('menu', @database.sqlite.context)
